.MainNav {
  background-color: white;
  left: 0;
  margin-top: -375px;
  position: absolute;
  right: 0;
  transition: margin-top .5s;
  z-index: 9;
}

.MainNav-show {
  margin-top: 0;
}

.MainNav-drawer-handle {
  border-bottom: 1px solid #E0E0E0;
  display: flex;
  justify-content: stretch;
}

.MainNav-drawer-handle-icon {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  flex: 1 0 auto;
  height: 2rem;
  line-height: 1.75rem;
  outline: none;
  font-size: 75%;
}

.MainNav-list {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 1rem;
}

.MainNav-list-item {
  margin: 0.5rem 0 0 0;
}

.MainNav-list-item-description {
  color: #424242;
  font-size: 90%;
  margin: 0 0 1rem 0;
  padding: 0;
}

.MainNav-link {
  color: #039BE5;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}

.MainNav-overlay {
  background-color: rgba(0, 0, 0, .7);
  margin-top: -200vh;
  position: absolute;
  height: 100vh;
  opacity: 0;
  transition: opacity 0.5s;
  width: 100vw;
}

.MainNav-overlay-show {
  margin-top: 0;
  opacity: 1;
}

@media (min-width: 700px) {
  .MainNav {
    flex: 0 0 200px;
    position: static;
    left: auto;
    margin-top: 0;
    right: auto;
    z-index: auto;
  }
  .MainNav-drawer-handle {
    display: none;
  }
  .MainNav-list {
    padding: 0;
  }
  .MainNav-overlay {
    display: none;
  }
}
