.App {
  text-align: center;
}

.App-logo {
  width: 80vmin;
  pointer-events: none;
}

.App-header {
  align-items: center;
  background-color: #EEEEEE;
  border-bottom: 1px solid #E0E0E0;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  padding: 1rem;
}

.App-link {
  color: #61dafb;
}
